@import '../../assets/style/colors';
@import '../../assets/style/global';
@import '../../assets/style/screen';

.project {
    &__listTasks {
        color: $color_white;
        padding: 1rem 3rem;

        &--title {
            padding: 1rem 0;
            font-size: 1.25rem;
            font-weight: 700;
        }

        &--tasks {
            max-height: 30rem;
            overflow: auto;
        }

        &--task {
            margin: 0.5rem 0;
            padding: 1rem 1.25rem;
            background-color: $color_jet;

            border: 2px solid $color_davys_grey;
            border-radius: 10px;

            cursor: pointer;
            &-name {
                font-size: 1rem;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &-icon {
                padding: 0 0.35rem;
                font-size: 1.25rem;
                border-radius: 50%;

                transition: all 750ms;
                cursor: pointer;

                &:hover,
                &:focus,
                &:active {
                    background-color: $color_vivid_tangerine;
                    transition: all 750ms;
                }
            }

            &-time {
                margin: 0 0.5rem;

                font-size: 0.8rem;
                font-style: italic;
            }
        }

        &--btn {
            padding: 1rem;
            cursor: pointer;

            &-icon {
                padding: 0.75rem 1rem;
                margin: 0 0.5rem;
                border: 2px dashed $color_white;
                border-radius: 15px;
            }
        }
    }

    &__form {
        &--field {
            color: $color_white;

            &-label {
                color: $color_white;
            }

            &-input-field {
                color: $color_white;
                border-bottom: 1px solid $color_vivid_tangerine;

                &:hover,
                &:focus,
                &:active {
                    border-bottom: 1px solid $color_vivid_tangerine;
                }
            }
        }

        &--btn {
            padding: 0.5rem 0;
            border-radius: 10px;
            transition: all 750ms;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                background-color: $color_vivid_tangerine;
                transition: all 750ms;
            }

            &-content {
                width: 100%;
            }
        }
    }
}
