@import '~antd/dist/antd.css';
@import './assets/style/colors';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $color_white;
}

a {
    color: unset;
    text-decoration: none;

    &:hover {
        color: unset;
    }
}

input,
button {
    border: none;
    background: none;

    &:focus {
        border: none;
        outline: none;
    }
}

button {
    cursor: pointer;
}

label {
    display: block;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: $color_cultured;
    border-radius: 5px;
}

.layout {
    &-app,
    &-loading,
    &-auth {
        width: 100vw;
        height: 100vh;
    }
    &-header {
        width: 100%;
        height: 10vh;
    }
    &-body {
        width: 100%;
        height: 90vh;
    }
    &-navbar-custom {
        width: 100%;
        height: 100vh;
    }
}

.Chat input {
    &:focus {
        box-shadow: none;
    }
}
